{{outlet}}

<div class="representative-detail">

  <div
    class="representative-circle-profile"
    style="background-image: url({{model.imageUrl}})">
    <div class="party-letter {{model.partyLetter}}">{{model.partyLetter}}</div>
  </div>

  <h2 class="representative-name">{{model.firstName}} {{model.lastName}}</h2>
  <p class="table-text">{{model.state.full_name}} {{model.prefix}}</p>

  <h5 class="twin right-align table-subtitle">GENERAL</h5>
  <div class="clear"></div>

  <ul>
    <li>
      <p class="twin right-align table-text left-side-table">Name:</p>
      <p class="twin left-align table-text">{{model.firstName}} {{model.lastName}}</p>
    </li>
    <li>
      <p class="twin right-align table-text left-side-table">Party:</p>
      <p class="twin left-align table-text">{{model.party}}</p>
    </li>
    <li>
      <p class="twin right-align table-text left-side-table">State:</p>
      <p class="twin left-align table-text">{{model.state.full_name}}</p>
    </li>
    <li>
      <p class="twin right-align table-text left-side-table">Cash on Hand:</p>
      <p class="twin left-align table-text cash-on-hand-number">${{formatNumber model.cashOnHand}}</p>
    </li>
    <li>
      <p class="twin right-align table-text left-side-table">Debt:</p>
      <p class="twin left-align table-text debt-number">(${{formatNumber model.cashDebt}})</p>
    </li>
    <li>
      <p class="twin right-align table-text left-side-table">Total Donations Recieved:</p>
      <p class="twin left-align table-text">${{formatNumber model.cashTotal}}</p>
    </li>
  </ul>

  <div class="clear"></div>

  {{#if model.contributionInformation.cycle}}
    <h5 class="twin right-align table-subtitle">
      TOP DONORS - {{model.contributionInformation.cycle}} CYCLE
    </h5>
    <div class="clear"></div>

    <ul>
      {{#each model.contributionInformation.contributor as |contributor index|}}
        <li>
          <p class="twin right-align table-text left-side-table">{{contributor.org_name}}</p>
          <p class="twin left-align table-text">${{formatNumber contributor.total}}</p>
        </li>
      {{/each}}
    </ul>
    <div class="clear"></div>
  {{/if}}

  <h5 class="twin right-align table-subtitle">
    CONTACT
  </h5>
  <div class="clear"></div>

  <ul>
    {{#if model.phoneNumber}}
    <li>
      <p class="twin right-align table-text left-side-table">Phone:</p>
      <p class="twin left-align table-text">{{model.phoneNumber}}</p>
      <div class="clear"></div>
    </li>
    {{/if}}

    {{#if model.email}}
    <li>
      <p class="twin right-align table-text left-side-table">Email:</p>
      <a href="mailto:{{model.email}}"><p class="twin left-align table-text">{{model.email}}</p></a>
      <div class="clear"></div>
    </li>
    {{/if}}

    {{#if model.website}}
    <li>
      <p class="twin right-align table-text left-side-table">Website:</p>
        <a target="_blank" href="{{model.website}}">
          <p class="twin left-align table-text">
            {{model.website}}
          </p>
        </a>
      <div class="clear"></div>
    </li>
    {{/if}}

    {{#if model.twitterId}}
    <li>
      <p class="twin right-align table-text left-side-table">Twitter:</p>
        <a target="_blank" href="http://www.twitter.com/{{model.twitterId}}">
          <p class="twin left-align table-text">
            {{model.twitterId}}
          </p>
        </a>
      <div class="clear"></div>
    </li>
    {{/if}}

    {{#if model.facebookId}}
    <li>
      <p class="twin right-align table-text left-side-table">Facebook:</p>
        <a taget="_blank" href="http://www.facebook.com/{{model.facebookId}}">
          <p class="twin left-align table-text">
            {{model.facebookId}}
          </p>
        </a>
      <div class="clear"></div>
    </li>
    {{/if}}

  </ul>

  <div class="clear"></div>
</div>

<div class="twitter-representative-icon">
  <a target="_blank" href="http://www.twitter.com/{{model.twitterId}}">
    <img src="/img/twitterIconRepresentative.png">
  </a>
</div>
